*{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-family: 'Gugi', cursive;
}



body{
	 background-image: url('bgimage1.jpg');
	 background-size: cover;

}

.header{
	background: #E5FFCC;
	border-radius: 10px;
	
}


.line ul li{
	display: inline-block;
}

.line ul li a{
	/*border: 2px solid #F7FD3B ;*/
	border-radius: 8px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 50px;
	max-height: 115px;
	
	text-decoration: none;
	color: red;
	line-height: 60px;
}

.line ul li a:hover{
	background-color: #93F988;
	border: 2px solid yellow;
	border-radius: 8px;
	font-size: 20px;
}

/*part 2*/


.image{
	float: left;
	margin-right: 20px;
}

p{
	margin-top: 50px;
	font-family: helvetica;
	font-size: 23px;
	color: 
}

span{
	color: #4D0606;
}
.section a:hover{

}

.cbse{
	margin-top: 20px;
	float: left;
	margin-right: 50;
	margin-left: 200px;
}

.cbse2{
	float: right;
	margin-right: 400px;
	margin-top: 100px;
	font-family: helvetica;
	font-size: 30px;
}

.section1{
	border-top: 2px solid black;
}

.rbse{
	margin-top: 20px;
	float: left;
	margin-right: 50;
	margin-left: 200px;
}

.rbse1{
	float: right;
	margin-right: 400px;
	margin-top: 100px;
	font-family: helvetica;
	font-size: 30px;
}

.section2{
	clear: both;
	border-top: 2px solid black;
}

.kgp{
	margin-top: 20px;
	float: left;
	margin-right: 50;
	margin-left: 200px;
}

.kgp1{
	float: right;
	margin-right: 400px;
	margin-top: 100px;
	font-family: helvetica;
	font-size: 30px;
}

.section3{
	clear: both;
	border-top: 2px solid black;
	margin-bottom: 200px;

}

.section4{
	clear: both;
	border-top: 2px solid black;
	text-align: center;
}

.section4 a hover{
	color: red;
}

/*part 3*/


.section5{
	margin-top: 10%;
	margin-left: 38%;
	/*margin-top: 200px;
	padding-left: 300px;*/

}

.mail{
	margin: 20px;
}

/*part 4*/
.pa1{
	border: 2px solid blue;
	border-radius: 7px; 
	margin-right: 30%;
}

.pa2{
	border: 2px solid blue;
	border-radius: 7px; 
	
	margin-left: 21%;
	margin-right: 25%;
}

.pa3{
	border: 2px solid blue;
	border-radius: 7px; 
	
}

